<h3>Chỉnh sửa khách hàng</h3>
<button nz-button nzType="primary" (click)="onBack()">
	<i nz-icon nzType="arrow-left" nzTheme="outline"></i>
	Quay lại
</button>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
	<nz-form-item>
		<nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
		<nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Nhập vào tên khách hàng!">
			<input nz-input formControlName="name" id="name" />
		</nz-form-control>
	</nz-form-item>
	<nz-form-item>
		<nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>
			<span>Phone</span>
		</nz-form-label>
		<nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Nhập phone!">
			<input nz-input id="phone" formControlName="phone" />
		</nz-form-control>
	</nz-form-item>
	<nz-form-item>
		<nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address">Address</nz-form-label>
		<nz-form-control [nzSm]="14" [nzXs]="24">
			<input nz-input id="address" formControlName="address" placeholder="address" />
		</nz-form-control>
	</nz-form-item>
	<nz-form-item>
		<nz-form-label [nzSm]="6" [nzXs]="24" nzFor="descriptions">Description</nz-form-label>
		<nz-form-control [nzSm]="14" [nzXs]="24">
			<input nz-input id="descriptions" formControlName="descriptions" placeholder="descriptions" />
		</nz-form-control>
	</nz-form-item>
	<nz-form-item nz-row>
		<nz-form-control [nzSpan]="14" [nzOffset]="6">
			<button nz-button nzType="primary">Update</button>
		</nz-form-control>
	</nz-form-item>
</form>