<h1>Create customer</h1>
<div>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Room</label>
            <input type="text" class="form-control" id="room" (ngModel)="room">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Customer</label>
            <input type="text" class="form-control" id="customer" (ngModel)="customer">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Service</label>
            <input type="text" class="form-control" id="service" (ngModel)="service">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>