<h1>List booking</h1>
<button (click)="checkIn()">Create</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let customer of customers">
      <th scope="row">{{customer._id}}</th>
      <td>{{customer.name}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.phone}}</td>
      <td>{{customer.description}}</td>
      <td><button (onclick)="editCustomer(customer._id)">Checkout</button></td>
    </tr> -->
    </tbody>
</table>