<h3>Tạo mới khách hàng</h3>
<button nz-button nzType="primary" (click)="onBack()">
	<i nz-icon nzType="arrow-left" nzTheme="outline"></i>
	Quay lại
</button>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
	<nz-form-item>
		<nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
		<nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Nhập vào tên khách hàng!">
			<input nz-input formControlName="name" id="name" />
		</nz-form-control>
	</nz-form-item>
	<nz-form-item>
		<nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>
			<span>Phone</span>
		</nz-form-label>
		<nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Nhập phone!">
			<input nz-input id="phone" formControlName="phone" />
		</nz-form-control>
	</nz-form-item>
	<nz-form-item>
		<nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address">Address</nz-form-label>
		<nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select nzPlaceHolder="Thành phố" nzSuffixIcon="caret-down" formControlName="city" (ngModelChange)="onChangeCity($event)">
        <nz-option nz-input nzLabel="{{city.name}}" nzValue="{{city.code}}" *ngFor="let city of cities"></nz-option>
      </nz-select>
      <nz-select nzPlaceHolder="Quận/Huyện" formControlName="district" (ngModelChange)="onChangeDistrict($event)">
        <nz-option nz-input nzLabel="{{district.name}}" nzValue="{{district.code}}" *ngFor="let district of districts"></nz-option>
      </nz-select>
      <nz-select nzPlaceHolder="Khu vực" formControlName="ward" (ngModelChange)="onChangeWard($event)">
        <nz-option nz-input nzLabel="{{ward.name}}" nzValue="{{ward.code}}" *ngFor="let ward of wards"></nz-option>
      </nz-select>
      <input nz-input id="address" formControlName="address" placeholder="Địa chỉ cụ thể" />
    </nz-form-control>
	</nz-form-item>
	<nz-form-item>
		<nz-form-label [nzSm]="6" [nzXs]="24" nzFor="descriptions">Description</nz-form-label>
		<nz-form-control [nzSm]="14" [nzXs]="24">
			<input nz-input id="descriptions" formControlName="descriptions" placeholder="descriptions" />
		</nz-form-control>
	</nz-form-item>
	<nz-form-item nz-row>
		<nz-form-control [nzSpan]="14" [nzOffset]="6">
			<button nz-button nzType="primary">Tạo mới</button>
		</nz-form-control>
	</nz-form-item>
</form>
