:host {
  .d-flex {
    display: flex;
  }

  .justify-content-between {
    justify-content: space-between;
  }

  .mb-3 {
    margin-bottom: 1rem;
  }

  .search-input-wrapper {
    width: 400px;
  }
}
