<div class="d-flex justify-content-between mb-3">
  <div class="search-input-wrapper">
    <input placeholder="input here" nz-input [(ngModel)]="inputValue" (input)="onInput($event)" [nzAutocomplete]="auto" />
    <nz-autocomplete [nzDataSource]="options" nzBackfill #auto></nz-autocomplete>
  </div>
  <button nz-button nzType="primary" [routerLink]="['create']">Thêm mới</button>
  <button nz-button nzType="primary" (click)="exportExcelCustomer()">Xuất excel</button>
</div>
<nz-table #basicTable [nzData]="customers" [nzLoading]="loading">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of basicTable.data">
      <td scope="row">{{customer._id}}</td>
      <td>{{customer.name}}</td>
      <td>
        <span *ngIf="customer.address">{{customer.address}}</span>
        <span *ngIf="customer.name_ward">, {{customer.name_ward}}</span>
        <span *ngIf="customer.name_district">, {{customer.name_district}}</span>
        <span *ngIf="customer.name_city">, {{customer.name_city}}</span>
      <td>{{customer.phone}}</td>
      <td>{{customer.descriptions}}</td>
      <td>
        <a (click)="editCustomer(customer._id)">Edit</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this customer?" nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="deleteCustomer(customer._id)">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>
